<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario alumno</title>
    <style>
        form {
            position: absolute;
            top: 150px;
            left: 40%;
            border-radius: 10px;
            background-color: rgb(203, 217, 219);
            box-shadow: 5px 5px 10px black;
            padding: 50px;
        }
    </style>
</head>

<body>
    <form action="index.php" method="post">
        <h2>CREAR ALUMNO NUEVO</h2>
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre"><br>
        <label for="apellidos">Apellidos:</label><br>
        <input type="text" name="apellidos"><br>
        <label for="dni">DNI:</label><br>
        <input type="text" name="dni"><br>
        <label for="curso">Curso:</label><br>
        <select name="curso" id="curso">
            <option value="DAW">DAW</option>
            <option value="DAM">DAM</option>
            <option value="AF">AF</option>
            <option value="SMIX">SMIX</option>
        </select>
        <br><br>
        <button type="submit">Guardar</button>
    </form>
</body>

</html>